@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');

h1 {
    color: #e8e8e8ef;
}

p {
    color: #e8e8e873;
    font-family: "Inter", sans-serif;

}

.btn {
    background: #014a86;
    border: none;
    color: white;
    font-weight: bold;
}
*{
    font-family: "Poppins", sans-serif;
}